/Elecciones/nbproject/private/
/Adivinar el numero/nbproject/private/
/Adivinar el numero/build/
/Impresion en pantalla/nbproject/private/
/Impresion en pantalla/build/
/Elecciones/build/
/Avion/nbproject/private/
/Avion/build/